* {
    
    box-sizing: border-box;
    vertical-align: top;
    /* outline: 1px black solid; */
}
#wrapper {
    padding: 10px;
    margin: 0 auto;
    width: 100%;
}
#container {
    padding: 10px;
    width: 70%;
    margin: 0 auto;
}
.icon, .content {
    display: inline-block;
}
.icon {
    width: 20%;
}
.content {
    width: 70%;
    background-color: lightgrey;
    padding: 0 15px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#span {
    background-color: #3EB270;
    width: 40%;
    height: 5px;
}